#container{
    background-color: cadetblue;
    height: 1000px;
}
#heading{
    margin-top: 0;
    color: blueviolet;
    font-size: 50px;
    padding-left: 550px;
    text-decoration: underline;
}
#teamid{
        padding-left: 700px;
    font-size: 20px;
}
#name{
    padding-left: 700px;
    font-size: 20px;
}
#sport{
    padding-left: 700px;
    font-size: 20px;
}
#ge{
    padding-left: 700px;
    font-size: 20px;
}
#cid{
    padding-left: 700px;
    font-size: 20px;
}
#button1{
    padding-left: 700px;
    font-size: 20px;
}